/*Effects the whole display*/

* ,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: Arial;
    margin: 0;
    
}

/*Changes the scrollbar*/

html::-webkit-scrollbar {
    width: 12px; 
  }
  /*Changes the background of the scrollbar */
  html::-webkit-scrollbar-track {
  background-color: black;
  }
  /*Changes the scrollbar color*/
  html::-webkit-scrollbar-thumb {
  background: rgb(2, 17, 233);
  border-radius: 25px;
  }

/*Header*/

.main-header {
    width: 100%;
    padding: 25px 25px 25px 0;
    font-family: Arial;
    background-color: black;
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header h1 {
    display: inline-block;
    margin-left: 0;
    font-size: 32px;
}

.header-name{
    padding: 3px 1% 3px 6%;
    margin-left: 0;
    background-color: rgb(2, 17, 233);
    color: rgb(202, 181, 181);
}

.main-header nav {
    margin-right: 80px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
   
}

.main-header nav ul {
    list-style-type: none;
}

.main-header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

a {
    color: grey;
    text-decoration:underline;
    
} 




/* Body */


 #top-image {
    position: relative;
    width: 100%;
    height: 597px;
    color: rgb(187, 41, 167);
    display: flex;
}



#faceshot {
    position: absolute;
    top: 90px;
    border-right: 8px groove rgb(7, 8, 8);
    border-radius: 1px;
    height: 600px;
}

#about-me-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 25%;
    left: 25%;
    padding: 5% ;
    border-radius: 8px;
    color: rgb(202, 181, 181);
    font-size: 32px;
    background-color: rgb(2, 17, 233);
    font-size: 24px;
    text-align: center;
    justify-content: space-evenly;
    line-height: 1;

}

#subtitle{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    right: 12px;
    font-size: larger;
    padding: 1%;
    color: rgb(202, 181, 181);
    background-color: rgb(2, 17, 233);
}

.p-title {
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    font-style: italic;
    padding-top: 90px;
    color: rgb(202, 181, 181);
    background-color: black;
}

.big-container {
    height: 1000px;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Big card for the main project */

.big-card {
    
    background-color: rgb(55, 55, 56);
    width: 50vw;
    height: 90vh;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-image: url(/Assets/images/Main\ Project.JPG);
    background-size:cover;
    border: 5px solid rgb(2, 17, 233);
    transition: 1s;
}

.small-card {
    background-color: rgb(55, 55, 56);
    width: 25vw;
    height: 30vh;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(2, 17, 233);
    transition: 1s;
    justify-content: space-evenly;
}


.row {
    
    flex-direction: row;
    padding-left: 20px;
    
}

.small-card:hover {
    transform: scale(1.0);
}

.big-card:hover {
    transform: scale(1.09);
    
    
}

#card1 {
    background-image: url(/Assets/images/Password\ Generator.JPG);
    background-size: cover;
}

#card2 {
    background-image: url(/Assets/images/Work\ Scheduler.JPG);
    background-size: cover;
}
#card3 {
    background-image: url(/Assets/images/Code\ Quiz.JPG);
    background-size: cover;
}
#card-subtitle {
    position: absolute;
    display: flex;
    border-radius: 20px;
    font-size: larger;
    padding: 1%;
    color: rgb(202, 181, 181);
    background-color: rgb(2, 17, 233);
}